<div *ngIf="show" class="app-screen-saver wrapper" @fade-in-out>
    <div class="container">
      <app-video-overlay></app-video-overlay>

      <video class="video" autoplay loop muted>
        <source src="assets/screensaver/macroscope-attractor.mp4" type="video/mp4">
        <source src="assets/screensaver/macroscope-attractor.ogg" type="video/ogg">
        <track label="English" kind="captions" srclang="en" src="assets/screensaver/macroscope-attractor.vtt" default>
      </video>

      <div class="video-overlay"></div>
    </div>
</div>
