<md-dialog> 
  <md-toolbar class="md-toolbar-tools">
    <h2>Digging Deeper</h2>
  </md-toolbar>
  <md-dialog-content>
    <p>
      Whether we like it or complain about it, bask in it or suffer from it, we all are affected by the weather. This essential truth becomes readily apparent when viewing <em>Earth</em>, the work of software engineer Cameron Beccario.
    </p> 
    <p>
      Using data from the Global Forecast System, <em>Earth</em> visualizes worldwide weather patterns using animated wind streams, color coded according to velocity, that sweep across a three-dimensional globe. Truly interactive, the visualization allows the user to spin the globe and zoom in on a desired location. Tapping on that location will then bring up further information about exact coordinates, wind speed, and temperature, with all information updated every three hours.
    </p> 
    <p>
      The world itself may be seen from different perspectives, as the visualization offers nine different projections, such as conic equidistant, stereographic, or Waterman Butterfly. When <em>Earth</em> was first introduced in December 2013, it only visualized wind patterns. Since then, however, Beccario has increased the number of overlays to include such factors as carbon monoxide concentration, dust and sulfate extinction, along with the measured temperature. <em>Earth</em> also shows the perceived temperature which Beccario calls the Misery Index, borrowing a term from economics. Explore the full functionality at <em>http://earth.nullschool.net</em>.
    </p>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-default">Close</md-button>
  </div>
</md-dialog>