<md-dialog> 
  <md-toolbar class="md-toolbar-tools">
    <h2>Digging Deeper</h2>
  </md-toolbar>
  <md-dialog-content>
    <p>
      <em>AcademyScope</em> represents a collaborative effort between the National Academy of Sciences and Indiana University’s Cyberinfrastructure for Network Science Center. This interactive visualization encourages viewers to explore all reports published by the National Academies of Sciences, Engineering, and Medicine in the last twenty years.
    </p> 
    <p>
      By using this discovery tool, viewers may browse reports by topic and subtopic, see the relatedness of reports via elaborate networks of book covers dynamically displayed on the screen, and access detailed information about individual reports. This version of <em>AcademyScope</em> consists of two main interfaces. The Topic View provides a proportional depiction of the number of titles within each sub-topic network. Sub-topic globes display relative publishing activity within individual sub-topics. The Sub-Topic View displays a network representation of the relationship between Academies reports based on full-text lexical analysis of each publication. This allows the user to highlight any given title and its related publications and also to view the number of titles published in that sub-topic by year.
    </p>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-default">Close</md-button>
  </div>
</md-dialog>