<md-dialog> 
  <md-toolbar class="md-toolbar-tools">
    <h2>Digging Deeper</h2>
  </md-toolbar>
  <md-dialog-content>
    <p>
      This macroscope was created by Kalev H. Leetaru, an expert on big data and global society. It uses as its source material, quite literally, the news of the world. The visualization explores how new stories group countries into distinct clusters, creating an inherent geographic network structure over the planet akin to “communities” as seen through the eyes of the world’s presses. In essence, for every monitored news article published anywhere in the world, it compiles a list of the other countries also mentioned in those articles.
    </p> 
    <p>
      It is important to note that this is not how often coverage from a country mentions other countries; it is how often coverage from any country in the world that is about that country mentions other countries. In other words, it is about context.
    </p> 
    <p>
      Countries that are frequently mentioned together might reflect geographic proximity, but also economic and political ties, or joint involvement in a major international event. <span style="color:blue;">Blue</span> incoming lines indicate countries where at least 10% of the coverage mentioning the source country also mentioned the selected country. <span style="color:red;">Red</span> outgoing lines indicate countries where at least 10% of the coverage mentioning the selected country also mentioned the destination country.
    </p> 
    <p>
      The size and number of energy pulses moving along the line indicate the percentage of co-occurring mentions. In a given week, nearly every country is mentioned alongside of every other country at least once, so the visualization uses the cutoff of 10% to highlight only the strongest relationships. More information on this project can be found at <em>http://gdeltproject.org</em>.
    </p>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-default">Close</md-button>
  </div>
</md-dialog>