<md-dialog> 
  <md-toolbar class="md-toolbar-tools">
    <h2>Digging Deeper</h2>
  </md-toolbar>
  <md-dialog-content>
    <p>
      University of Texas art historian Maximilian Schich and Mauro Martino, head of IBM’s Watson Cognitive Visualization Lab, created <em>Charting Culture</em>, which debuted in August of 2014 and went on to accumulate over 1 million views on YouTube.
    </p> 
    <p>
      In just five minutes, the animation covers 2,600 years of European and American history, from 600 BCE to 2012 CE, by tracking 120,000 individuals whose birth and death locations were recorded in the knowledge web Freebase. The figures whose migrations are traced are remarkably varied: from the Greek mathematician Pythagoras to the American Jazz Age entertainer Al Jolson, from the Roman emperor Marcus Aurelius to the Gothic painter Henry Fuseli, and from the composer Carl Maria von Weber to the father of sexuality studies, Havelock Ellis.
    </p> 
    <p>
      Birthplaces, represented by <span style="color:blue;">blue</span> dots, are connected by arcs to places of death, denoted by <span style="color:red;">red</span> dots. The animation reveals how increased concentrations of death places indicate how different cultural centers rise and fall in importance: for instance, how Paris and London supplant the dominance of Rome, how New York pulls Europeans from their places of birth, and how America’s west coast lures Easterners to cross plains and mountains with promises of a new life. Further information on the data, making, and research behind this project can be found at <em>http://cultsci.net</em>.
    </p>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-default">Close</md-button>
  </div>
</md-dialog>