<md-dialog> 
  <md-toolbar class="md-toolbar-tools">
    <h2>The Makers</h2>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-jeff-colosino.jpg" 
             class="makers-avatar" 
             alt="Jeff Colosino" />
        <div class="md-list-item-text">
          <p>
            <strong>Jeff Colosino</strong>, a web developer and data engineer at the National Academies of Sciences, Engineering, and Medicine, wrote the data services that power <em>AcademyScope</em>. He maintains the website and databases of the National Academies Press (<em>nap.edu</em>), an open access repository containing thousands of Academies publications. He also specializes in data architecture, transformation, analysis, and visualization. Jeff has previously worked at the Johns Hopkins University Press, and he holds an MFA in poetry from Johns Hopkins University.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-alphonse-macdonald.jpg" 
             class="makers-avatar" 
             alt="Alphonse MacDonald" />
        <div class="md-list-item-text">
          <p>
            <strong>Alphonse MacDonald</strong> is Director of Marketing and Technology for the National Academies of Sciences, Engineering, and Medicine. He has more than 20 years’ experience in the publishing, digital media, and online communication sectors and has developed electronic publishing and online outreach programs and strategies for a broad range of publishers and non-profit organizations, including the National Academies of Sciences, Engineering, and Medicine, Conservation International, and Island Press.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-stephen-mautner.jpg" 
             class="makers-avatar" 
             alt="Stephen Mautner" />
        <div class="md-list-item-text">
          <p>
            <strong>Stephen Mautner</strong> is Executive Editor of the National Academies Press and the Office of Communications of the National Academies of Sciences, Engineering, and Medicine. He is responsible for the development of diverse communications products, including practitioner guides based on Academy studies, special summaries of reports, topical websites, videos, and interactive digital features. He has served the Academy for 25 years and is grateful for the opportunity to have been engaged in so many different kinds of projects. He received his BA from Brown University and an MA from Johns Hopkins University.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-barbara-kline-pope.jpg" 
             class="makers-avatar" 
             alt="Barbara Kline Pope" />
        <div class="md-list-item-text">
          <p>
            <strong>Barbara Kline Pope</strong> is Executive Director for Communications at the National Academies of Sciences, Engineering, and Medicine and Executive Director of the National Academies Press. She is responsible for programs that bring science to public audiences including the Science & Entertainment Exchange and the Science and Engineering Ambassadors Program. She leads the Academies’ publishing operation of scholarly books that have been available on the Web free to read since 1995. She is past president of the Association of American University Presses and serves on the management board of The MIT Press. She holds an MS from the University of Maryland.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-jd-talasek.jpg" 
             class="makers-avatar" 
             alt="JD Talasek" />
        <div class="md-list-item-text">
          <p>
            <strong>JD Talasek</strong> is Director of Cultural Programs of the National Academy of Sciences (<em>www.cpnas.org</em>). He created and moderates a monthly salon at the Academy called DC Art Science Evening Rendezvous (DASER). JD is on the faculty at Johns Hopkins University in the Museum Studies Master’s Program and also serves on the Contemporary Art and Science Committee at the Smithsonian’s National Museum of Natural History. He is the art advisor for the magazine <em>Issues in Science and Technology</em> and in 2009-2010 created and organized two international on-line symposia: “Visual Culture + Bioscience” and “Visual Culture + Evolution.”
          </p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-juan-thomassie.jpg" 
             class="makers-avatar" 
             alt="Juan Thomassie" />
        <div class="md-list-item-text">
          <p>
            <strong>Juan Thomassie</strong> is a data visualization developer in New Orleans, currently working for Lucid. He has extensive experience telling stories with data and interactivity. Juan\'s work as a front-end developer, designer, and data visualization engineer has evolved from designing and producing information graphics for print, to creating animated graphics for television, to developing software and designing apps for websites. Juan’s clients include Elastic, Gannett Digital, <em>USA Today</em>, Knight-Ridder Tribune, the <em>Los Angeles Times</em>, the <em>Times-Picayune</em> in New Orleans, and the <em>Morning Advocate</em> in Baton Rouge, Louisiana.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-katy-börner.png" 
             class="makers-avatar" 
             alt="Katy Börner" />
        <div class="md-list-item-text">
          <p>
            <strong>Katy Börner</strong> holds an MS in electrical engineering from the University of Technology in Leipzig, and a PhD in computer science from the University of Kaiserslautern. In 1999, she joined Indiana University–Bloomington where she is the Victor H. Yngve Professor of Information Science at the Department of Information and Library Science in the School of Informatics and Computing. In addition to <em>Atlas of Science: Visualizing What We Know</em> (2010) and <em>Atlas of Knowledge: Anyone Can Map</em> (2015), both published by The MIT Press, Börner has written more than 180 articles for academic journals and scholarly texts and has edited several scholarly publications.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-chin-hua-kong.jpg" 
             class="makers-avatar" 
             alt="Chin Hua Kong" />
        <div class="md-list-item-text">
          <p>
            <strong>Chin Hua Kong</strong> graduated from Indiana University–Bloomington with an MS in computer science in 2010. At the time of this project, he served as Senior System Architect at the Cyberinfrastructure for Network Science Center at IU. Currently, he works as a software development engineer at Amazon in Seattle, Washington.
          </p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-samuel-t-mills.jpg" 
             class="makers-avatar" 
             alt="Samuel T. Mills" />
        <div class="md-list-item-text">
          <p>
            <strong>Samuel T. Mills</strong> holds a BFA in studio art and a BA in philosophy from Augustana College. From 2012 to August 2015, he was Senior UX Designer with the Cyberinfrastructure for Network Science Center at Indiana University–Bloomington. Currently, he is a web developer on the IU School of Education’s marketing and communications team.
          </p> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line md-long-text">
        <img ng-src="assets/images/makers-adam-simpson.jpg" 
             class="makers-avatar" 
             alt="Adam Simpson" />
        <div class="md-list-item-text">
          <p>
            <strong>Adam Simpson</strong> earned a BS in informatics with a telecommunications cognate and computer science minor from Indiana University–Bloomington in 2013. Since 2012, he has served as software developer for The Cyberinfrastructure for Network Science Center at IU.
          </p>
        </div>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-default">Close</md-button>
  </div>
</md-dialog>