<md-dialog> 
  <md-toolbar class="md-toolbar-tools">
    <h2>The Maker</h2>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item class="md-long-text">
        <img ng-src="assets/images/makers-cameron-beccario.jpg" 
             class="makers-avatar" 
             alt="Cameron Beccario" />
        <div class="md-list-item-text">
          <p><strong>Cameron Beccario</strong>  is a Tokyo-based software engineer. He currently works at Indeed, a job search site, where he helps people get jobs. Previously, he was manager of the core services team at TradingScreen, a global trading platform, and a compiler engineer at Microsoft on the Visual Basic (.NET) team, helping to ship the first version of the .NET Framework. He received his bachelor\'s degree from Iowa State University in computer engineering. <em>@cambecc</em></p>
        </div>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-default">Close</md-button>
  </div>
</md-dialog>