<div class="app-header">
  <div class="header-wrapper">
    <div class="header-container">
      <header class="header-main">
        <div class="container-header header-left">
          <ng-content select="[content-left]"></ng-content>
        </div>
        <a class="container-logo" routerLink="/home">
          <span>
            <object type="image/svg+xml" alt="Places and Space Exhibit Logo" class="icon" data="assets/icons/header/places-and-spaces.svg">
            </object>
          </span>
        </a>
        <div class="container-header header-right">
          <ng-content select="[content-right]"></ng-content>
        </div>
      </header>
    </div>
  </div>
</div>
