.header-main {
  position: relative;
  height: 7.5rem;
  border-bottom: 1px solid #ffffff;
  padding-top: 1.25rem;
  padding-right: 2.5rem;
  padding-bottom: 1.25rem;
  padding-left: 2.5rem;
  background-color: #1E1E1E;
  text-align: center;
   .header-left {
      top: 0;
      left: 2.5rem;
      height: 100%;
      display: flex;
      align-items: center;
   }
   .container-logo {
     display: inline-block !important
   }
   .header-right {
      top: 0;
      right: 2.5rem;
      bottom: 0;
      display: flex;
      align-items: center;
   }
   .container-header {
     position: absolute;
   }
 
}

::ng-deep .header-main .nav-link {
  font-size: 1.5rem;
  transition: color 0.5s;
  color: #8DC63F;
}

.container-logo {
  height: 100%;
  .icon {
    width: auto;
    height: 100%;
    cursor: pointer;
  }
}

