<div class="app-header">
  <div class="header-wrapper">
    <div class="header-container">
      <header class="header-main">
        <div class="container-header header-left">
          <ng-content select="[content-left]"></ng-content>
        </div>
        <div class="container-logo" routerLink="/">
          <img src="assets/icons/header/places-and-spaces.svg" class="icon" alt="Places and Space Exhibit Logo">
        </div>
        <div class="container-header header-right">
          <ng-content select="[content-right]"></ng-content>
        </div>
      </header>
    </div>
  </div>
</div>
