.breadcrumb li {
  color: white;
  display: inline;
  font-size: 1.4em;
  transition: all .1s;
}

.breadcrumb a {
  color: white;
  text-decoration: none;
}

.breadcrumb a:visited {
  color: white;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: white;
  text-decoration: none;
}

.breadcrumb a:active {
  color: white;
  text-decoration: none;
}

.breadcrumb>li+li:before {
  content: "\00bb\00a0";
}

.breadcrumb>.active {
  font-weight: bold;
  font-size: 1.5em;
}

.home-icon{
  padding:16em;
  padding-top:25em;
  font-size: 1px !important;
  background: url(assets/images/home.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position:0px 0px;
}

.breadcrumb-links{
    color:pink;
}
