.modal-showing {
  filter: blur(8px);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  .text {
    font-size: 1.5rem;
    transition: color 0.5s;
    color: #8dc63f;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }
  }
}
