
<div id="header" ng-class="{
    'logo-bar-home' : main.home,
    'logo-bar-iteration' : main.iteration,
    'logo-bar-macro' : main.macroscope
    }">
  <div ng-class="main.home ? 'am_hidden flex_NONE' : 'am_visible'" class="more-info">
    <md-button id="infoButton" class="iteration-md-button infoPush" aria-label="Info" ng-click="main.showInfo(main.getMacroDescriptionById($stateParams.macroId))" analytics-on="click" analytics-event="{{main.getMacroTitleById($stateParams.macroId)}}" analytics-category="info_selected">
      Learn about macroscopes
    </md-button>
  </div>
  <div class="header-logo">
  </div>
</div>
<div layout="row" class="flex-content">
  <!---------- MAIN VIEW ---------->
  <md-content ui-view="" flex layout="column" style="background-color:#202020;">
  </md-content>
</div>
<div class="footer" align="center">
  <span ng-repeat="page in main.macroscopePagination">

    <span class="dot {{page.active}}" ng-click="main.scrollTo(page.pos)"></span>
  </span>
</div>
<img id="idle" ng-src="assets/images/{{main.idleImgURL}}.png" style="opacity:.9;" alt="idle" ng-show="main.showIdleOverlay" class="idleOverlay" ng-click="main.showIdleOverlay = false;" ondragstart="return false" analytics-on="click" analytics-event="cancel" analytics-category="idle" />
<style>
.footer {
  background: #222;
  height: 75px;
  align: center;
}

html {
  overflow-y: hidden;
  outline: none !important;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.dot:hover {
  background-color: white;
}

.dot.active {
  background-color: #8cc541;
}

</style>
