/*@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);*/

@font-face {
  font-family: "Futura Medium";
  src: url("../assets/fonts/Futura-Medium.ttf");
}

@font-face {
  font-family: "OpenSans Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

html {
  font-family: 'Futura Medium', sans-serif;
}

md-dialog {
  font-family: 'OpenSans Regular', cursive;
  max-width: 60%;
}

/*md-list {
  overflow-x: hidden; 
}*/

.md-toolbar-tools {
  background-color: #7996a3;
  font-weight: bold;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-card {
  box-shadow: 0px 0px 0px 0px;
  margin: 0px;
}

a.md-button, .md-button {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  text-transform: none; 
  font-weight:normal;
}

.border {
  border-left: medium solid white;
}

.scopes {
  background: #222b32;
  display: flex;
  flex-flow: row wrap;
  padding-top: 4em;
}

.scopes md-card {
  width: 25%;
  background: #222b32;
  box-shadow: 0px 0px 0px 0px;
}

.scopes md-card md-card-footer {
  padding-top: 0px;
}

.scopes md-card md-card-footer h1 {
  color: #ffffff;
  display: flex;
  margin: 0px;
}

.scopes md-card img.pull-right {
  float: right;
  width: 50px;
}

/*.scopes md-card md-button img {
  width: 100px;
  height: 100px;
}*/

.idleOverlay {
  position: fixed; 
  top: 0; 
  left 0;
}

/*.idleOverlay.ng-hide-add, .idleOverlay.ng-hide-remove {
  transition: 1s linear all;
}

.idleOverlay.ng-hide-add-active,
.idleOverlay.ng-hide-remove-active {
  transition: 1s linear all;
}*/

.logo-home {
  height: 100%; 
  width: 25%;
  transition: 0.5s;
}

.logo-nothome {
  height: 100%;
  width: 12.5%;
  transition: 0.5s;
}

.url-home {
  opacity: 1;
  font-size: 3em;
  transition: font-size 0.25s,
    opacity 0.5s 0.25s;
}

.url-nothome {
  opacity: 0;
  font-size: 0em;
  transition: opacity 0.25s,
   font-size: 0.5s 0.25s;
}

.url-div-home {
  height: 224px;
  transition: 0.5s;
}

.url-div-nothome {
  height: 0px;
  transition: 0.5s;
}

.logo-bar-home {
  background: #202020;
  border-bottom: solid white;
  height: 150px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: 0.5s;
}

.logo-bar-nothome {
  background: #80cc2c;
  border-bottom: 0px solid white;
  height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: 0.5s;
}

.title-bar {
  background: #80cc2c;
  color: white;
}

.title-bar h1 {
  margin: 0.2em;
  font-size: 3em;
  text-transform: uppercase;
}

.url {
  color: #b4c2c7;
  margin: 0px;
}

md-list-item {
  width: 100%; 
}

.list-button {
  font-size: 2em;
  padding: 1em;
  color: #475358;
}

.makers-avatar {
  max-width: 100px;  
  margin-top: 16px; 
  margin-bottom: 16px;
  margin-right: 16px; 
}

.instructions-img {
  max-width: 100%; 
}
