.grid-md-card-footer {
  background: #202020;
}

.grid-md-button {
  color: white;
  background: #202020;
}
 .md-button:hover{
   background-color:#202020 !important;

}
 .md-button:focused{
   background-color:#202020 !important;

}

.grid-title {
  -webkit-margin-after: 0em;
  font-size: 2.5em;
}

.grid-subtitle {
  font-style: italic;
  font-size: 1.5em;
}

md-card {
  box-shadow: 0px 0px 0px 0px;
  margin: 0px;
  border-radius:0px;
}

.grid-border {
  border-left: 3px solid white;
}
.grid-border-none {
/*  border:medium solid green;*/
}
.grid-container{
  height:100%;
}


.mp-button{

/*
box-sizing:border-box;
  position:relative;
  outline:none;
  border:0;
  dispaly:inline-block;
  white-space:nowrap;
  min-width:88px;
*/
  line-height:36px;
  min-height:36px;
  text-align:center;
  font-size:14px;
  font-style:inherit;
  font-variant:inherit;
  font-family:inherit;
}
