
        <md-card flex
         layout="column"
         ng-class="'border iteration-card'"
         ng-repeat="iteration in main.iterations">
  <md-button ng-style="{'background': 'gray url(\'assets/images/{{iteration.logo}}\') no-repeat center / cover'}"
             ng-init="main.home = true"
             ng-click="main.home = false; $state.go('home.grid', {iterationId: iteration.id});"
             aria-label="{{iteration.title}}"
             flex
             ondragstart="return false"
             analytics-on="click"
             analytics-event="macro"
             analytics-category="{{iteration.title}}">
  </md-button>
      <md-button class="iteration-md-button"
               ng-init="main.home = true"
               ng-click="main.home = false; $state.go('home.grid', {iterationId: iteration.id});"
               aria-label="{{iteration.title}}"
               flex
               ondragstart="return false"
               analytics-on="click"
               analytics-event="macro"
               analytics-category="{{iteration.title}}">
      <h3 class="iteration-title">{{ iteration.title }}</h3>
      <span class="iteration-subtitle">{{ iteration.subtitle }}</span>
  </md-button>


</md-card>


