
.iteration-md-card-footer {
  background: #202020;
}


.iteration-md-button {
  color: white;
  background: #8DC642;
  top: 30%;
  margin:.4vh;
}
.infoPush{
  margin-right:3.5vh;
}
.macroscopes-md-button {
 float:left;
 width:12.68vw;
 /*width:48.7%;*/
 max-height:20%;
 padding-bottom: 32vh;
 bottom:0px;
 margin:3px;
 border-radius:12px;

}

.iteration-title {
  -webkit-margin-after: 0em;
  font-size: 1.5vw;
  padding-left:2vw;
  padding-right:2vw;
  margin:.5vw;
}

.iteration-subtitle {
  font-style: italic;
  font-size: 1.0vw;
}

.iteration-main {
  margin:2vh 12vh;
}

.iteration-card {
  margin:auto;
  margin-bottom:10.5vh;
  max-height:72vh;
  min-height:71vh;
  max-width:26vw;
  min-width:26vw;
  background-color:#202020;
}

.iteration-border {
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
}


