
.iteration-md-card-footer {
  background: #202020;
}

.iteration-md-button {
  color: white;
  background: #8DC642;
  position:absolute;
  top:46%;
  margin-left:5.5vw;
}

.iteration-title {
  -webkit-margin-after: 0em;
  font-size: 1.5vw;
  padding-left:2vw;
  padding-right:2vw;
  margin-top:.5vw;
}

.iteration-subtitle {
  font-style: italic;
  font-size: 1.0vw;
}

.iteration-card {
  margin:auto;
  max-height:30vh;
  max-width:30vw;
  min-height:30vh;
  min-width:30vw;
}

.border {
  border: 5px solid white;
}
