<div class="app-iframe wrapper">
  <div *ngIf="macroscopeUrl" class="container">
    <iframe *ngIf="!isVideo" class="iframe" title="macroscope" [src]="macroscopeUrl | safe:'resourceUrl'"></iframe>

    <div *ngIf="isVideo" class="video-container">
      <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
        </vg-controls>
        <video class="video" preload="auto" autoplay loop [vgMedia]="media" #media>
          <source type='video/webm;codecs="vp8, vorbis"' [src]="macroscopeUrl | safe:'resourceUrl'">
          <track label="English" kind="captions" srclang="en" src="assets/screensaver/macroscope-attractor.vtt" default>
        </video>
      </vg-player>
    </div>
  </div>
</div>
