.cls-1 {
  fill: #d8dde1;
}

.cls-2,
.cls-6 {
  fill: #8dc63f;
}

.cls-2 {
  stroke: #fff;
  stroke-width: 0.3px;
}

.cls-3 {
  fill: #7996a3;
}

.cls-4 {
  fill: none;
}

.cls-5 {
  fill: #fff;
}

#ps-logo {
  margin-top: 3rem;
  max-height: 5rem;
  cursor: pointer;
}
