<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="background: #e1e1e2;">
  <md-list flex layout="column" layout-align="space-between center">
    <md-list-item class="md-3-line">
      <md-button class="list-button" ng-click="macro.showDialog($event, 'Instructions', 'instructions')" flex flex-md="100">
        Instructions
      </md-button>
    </md-list-item>
    <md-list-item class="md-3-line">
      <md-button class="list-button" ng-click="macro.showDialog($event, 'Digging Deeper', 'digging-deeper')" flex flex-md="100">
        Digging Deeper
      </md-button>
    </md-list-item>
    <md-list-item class="md-3-line">
      <md-button class="list-button" ng-click="macro.showDialog($event, 'The Makers', 'makers')" flex flex-md="100">
        The Makers
      </md-button>
    </md-list-item>
    <div flex></div>
    <md-list-item class="md-3-line" >
      <md-button class="list-button" ui-sref="home.grid" flex flex-md="100" ng-click="main.home = true" ng-init="main.home = false">
        Home
      </md-button>
    </md-list-item> 
  </md-list>
</md-sidenav>

<md-content flex layout ng-switch on="macro.macroscope.type">
  <div ng-switch-when="video" layout="row" layout-align="center center">
    <video ng-src="{{macro.macroscope.url}}" autoplay controls flex width="100%" height="100%" />
  </div>
  <iframe ng-switch-when="iframe" ng-src="{{macro.macroscope.url | trusted}}" frameborder="0" flex />
</md-content>
