<!--
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">
  <md-list flex layout="column" layout-align="space-between center">
    <md-list-item class="md-3-line">
      <md-button class="instructionsButton list-button"
                 ng-click="macro.showDialog($event, 'Instructions', 'instructions')"
                 flex
                 flex-md="100"
                 analytics-on="click"
                 analytics-event="instructions"
                 analytics-label="{{macro.macroscope.title}}">
        Instructions
      </md-button>
    </md-list-item>
    <md-list-item class="md-3-line">
      <md-button class="diggingDeeperButton list-button"
                 ng-click="macro.showDialog($event, 'Digging Deeper', 'digging-deeper')"
                 flex
                 flex-md="100"
                 analytics-on="click"
                 analytics-event="digging-deeper"
                 analytics-category="{{macro.macroscope.title}}">
        Digging Deeper
      </md-button>
    </md-list-item>
    <md-list-item class="md-3-line">
      <md-button class="makersButton list-button"
                 ng-click="macro.showDialog($event, 'The Makers', 'makers')"
                 flex
                 flex-md="100"
                 analytics-on="click"
                 analytics-event="makers"
                 analytics-category="{{macro.macroscope.title}}">
        The Makers
      </md-button>
    </md-list-item>
    <div flex></div>
    <md-list-item class="md-3-line" >
      <md-button class="homeButton list-button"
                 flex
                 flex-md="100"
                 ng-click="$state.go('home.grid', {iterationID: iteration.id});"
                 analytics-on="click"
                 analytics-event="home"
                 analytics-category="{{macro.macroscope.title}}">
        Home
      </md-button>
    </md-list-item>
  </md-list>
</md-sidenav>
-->

<md-content flex layout="column"
            class="macroscopes_container"
            ng-switch on="macro.macroscope.type">
  <div ng-switch-when="video" layout="row" layout-align="center center" class="macro-video-div">
    <videogular vg-auto-play="true">
      <vg-media vg-src="macro.sources"></vg-media>
<!--      <vg-media vg-src="macro.createSrcArray('urldog')"></vg-media>-->
<!--        <vg-media vg-src="[{src: {{'assets/videos/ChartingCulture.webm' | trusted}}, type: 'video/webm'}]"></vg-media>-->
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <!--<vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>-->
      </vg-controls>

      <vg-overlay-play id="overlay-play"></vg-overlay-play>
    </videogular>
  </div>
  <div layout="row" layout-align="center center" ng-switch-when="iframe">
    <iframe layout="row" class="macroscopes"  ng-src="{{macro.macroscope.url | trusted}}" frameborder="0" />
  </div>

</md-content>
