<div class="modal-description-content-wrapper">
  <h2 class="header-container">
    {{modelData[0].descriptionTitle}}
  </h2>
  <p class="modal-description-short">
    {{modelData[0].descriptionShort}}
  </p>
  <div class="modal-expansion-panel">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="expandPanel">
      <div class="modal-description-long">
        {{modelData[0].descriptionLong}}
      </div>
      <mat-expansion-panel-header>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
  <div class="toggle-icon-container">
    <div class="icon-box-container">
      <div class="info-text" (click)="expandPanel = !expandPanel">
        <span>More info</span>
      </div>
      <mat-icon class="toggle-expand" (click)="expandPanel = !expandPanel">{{expandPanel ? 'expand_less' :
        'expand_more'}}</mat-icon>
    </div>
  </div>
</div>