@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

a { 
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

mat-dialog-container {
  margin:0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}