@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~typeface-lato/index.css";
@import "~typeface-montserrat/index.css";
@import "~videogular2/fonts/videogular.css";

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;

  &:focus {
    outline: none;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.app-modal .header,
.app-screen-saver .app-video-overlay * {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

mat-dialog-container {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  height: auto !important;
}
